@{
    ViewData["Title"] = "Employee Data";
    string[] TableHeaders = new string[] {
        "Employee Id",
        "Last Name",
        "First Name",
        "Title",
        "Reports To",
        "Birth Date",
        "Hire Date",
        "Address",
        "City",
        "State",
        "Country",
        "Postal Code",
        "Phone",
        "Fax",
        "Email"
    };
}

<div class="table">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @{
                    foreach (var Header in TableHeaders)
                    {
                        <th>
                            @Header
                        </th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var Data in Model)
                    {
                        <tr>
                            <td>@Data.Id</td>
                            <td>@Data.LastName</td>
                            <td>@Data.FirstName</td>
                            <td>@Data.Title</td>
                            <td>@Data.ReportsTo</td>
                            <td>@Data.BirthDate</td>
                            <td>@Data.HireDate</td>
                            <td>@Data.Address</td>
                            <td>@Data.City</td>
                            <td>@Data.State</td>
                            <td>@Data.Country</td>
                            <td>@Data.PostalCode</td>
                            <td>@Data.Phone</td>
                            <td>@Data.Fax</td>
                            <td>@Data.Email</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
